/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/09/2016, 16:06:18
    Author     : marcelo.lima
*/

.inputtext {
    width: 98%;        
}

.inputtext2c {
    width: 96%;
}

.painelgrid {
    width: 100%;    
}

.book_img {
    width: 100%; 
    height: auto;
}

.logo_img {
    width: 42%; 
    height: auto;
}

.column1 {
    width: 60%;
    height:auto;        
}

.column2 {
    width: 40%;
    height:auto;
}

.colunaDireita{
    width: 230px;        
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%); 
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}