/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/09/2016, 16:06:18
    Author     : marcelo.lima
*/

.inputtext {
    width: 98%;        
}

.inputtext2c {
    width: 96%;
}

.painelgrid {
    width: 100%;    
}

.book_img {
    width: 100%; 
    height: auto;
}

.logo_img {
    width: 42%; 
    height: auto;
}

.column1 {
    width: 60%;
    height:auto;        
}

.column2 {
    width: 40%;
    height:auto;
}

.colunaDireita{
    width: 230px;        
}

.rating {
       unicode-bidi:bidi-override;
       direction:rtl;
       font-size:30px;
}
.rating span.star {
      font-family:FontAwesome;
      font-weight:normal;
      font-style:normal;
      display:inline-block;
}
.rating span.star:hover {
     cursor:pointer;
}
.rating span.star:before {
     content:"\f006";
     padding-right:5px;
     color:#999999;
}
.rating span.star:hover:before, .rating span.star:hover~span.star:before {
     content:"\f005";
     color:#e3cf7a;
}

.span.star.filled:before{ 
    content:"\f005";
    color:#e3cf7a; 
}